// Помощники
@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss

//Общее
@import 'main/stylesheet';// шрифты
@import 'main/reset'; // сброс стилей для кроссбраузерности
@import 'main/common'; // общие стили

.container {
    max-width: 1410px;
    padding: 0 15px;
    margin: 0 auto;
}

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах
@import 'components/header';
@import 'components/first-section';
@import 'components/sec-features';
@import 'components/sec-aboutus';
@import 'components/menu';
@import 'components/download';
@import 'components/testimonial';
@import 'components/contact';
@import 'components/footer';
