// Помощники
@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss
.contact {
      margin: 20rem;
    .container {
        .contact-items{
            margin: 0 auto;
            .contact__titles {
                
                .first-title {
                    font-size: 1.6rem;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: $c-secondary;
                    opacity: 0.7;
                    margin: 1rem 0;
                    

                } 
                .second-title {
                     
                    font-family: $headers-font;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 130%;
                    font-size: 3.125rem;
                    text-transform: capitalize;
                    color: #150C01;
                    margin: 1rem 0;
                    width: 35vw;

                }
            }
            .contact__input-group {
                
                .form-control{
                    background: #FFFFFF;
                    border-radius: 10px;
                    width: 55vw;
                    height: 10vh;
                    
                                        
                }
                ::placeholder {
                    font-size: 1.6rem;
                    line-height: 254%;
                    display: flex;
                    align-items: center;
                    color: $c-text;
                    opacity: 0.5;
                    position: relative;
                }
                .send {
            
                    background: $c-secondary;
                    border-radius: 10px;
                    padding: 2rem 3rem;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #FFFFFF;
                    position: relative;
                    z-index: 1;
                    right: 0;
                }
            }
        }   
    }
}
