// Помощники
@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss

.container {
    display: flex;

    .first-section__content {
        margin-left: 6rem;
        margin-top: 10rem;
        width: 45%;
        
        .first-section__title {
            font-weight: 700;
            font-size: 4.883rem;
            line-height: 130%;
            color: #150C01;
            width: 59rem;
            
        }

    

    .first-section__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 150%;
        width: 57rem;
        margin: 3.5rem 0;
        color: #150C01;
        opacity: 0.7;
    }

    .first-section__buttons {
        margin-top: 8rem;

        .first-section__button {
            font-size: 1.6rem;
            color: #FFFFFF;
            background: $c-secondary;
            border-radius: 0.5rem;
            padding: 2rem 4rem;
            margin-right: 2rem;

            &--inverse {
                font-size: 1.6rem;
                color: $c-secondary;
                background: transparent;
                box-shadow: 0.5px 0.5px 0.5px 0.5px;                
                padding: 2rem 4rem;
            }
        }
    }
    }
    .first-section__pic {
        
        
        
        img {
            width: 54vw;
            position: relative;
            top: -7rem;
            left: -2rem;
            max-width: 100%;
        }

    }
}