// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../utils/parameters";
@import "../utils/mixins";



.header__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 6rem;


    .logo {
        display: inline-block;
        width: 5%;

        .logo__img {
            max-width: 100%;
        }
    }
    .header__links {
        
        padding-left: 1rem;
        width: 60%;
        
        .header-link {
            font-size: 1.6rem;
            padding: 2rem;
            display: inline-block;

            &--inverse {
                color: $c-secondary;
            }
        }
    }
    .header__button {
        font-size: 1.6rem;
        color: #FFFFFF;
        background: $c-secondary;
        border-radius: 5px;
        display: inline-flex;
        box-sizing: border-box;
        padding: 2rem 4rem;
        position: relative;
        z-index: 1;
        top: 0;
        right: 0;
        margin-left: auto;
        width: 14%;
    

    }
}

@media (max-width:$sm) {
    .header__button {
        width: 25%;
    }
}
@media (max-width:$xs){
    
        .header-link {
            font-size: 1.2rem;
            padding: 1.2rem;
}
.header__button {
    font-size: 1.2rem;
    width: 14%;
    padding: 1rem 4rem;
}
}
