section.contact
    .container
        .contact-items
            .contact__titles
                h3.first-title
                    span contact
                h2.second-title
                    span Food Stalls with Persons but also specialized equipment, Skills to manage.
            form.contact__input-group
                input.form-control(type='text' placeholder="Enter your message")
                button.send(type='button') Send
