section.download
    .container
        .dl__content
            h3.first-title
                span take away
            h2.second-title
                span Food Stalls with Persons but  to  Product marketing plane.  
            p.dl__text 
                span There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipmentwith Persons but also  Just Food Stalls with Persons.
            .dl__buttons
                a(href="#").button
                    img(src="./assets/imgs/apple.png", alt="apple")
                    span App Store
                a(href="#").button--inverse
                    img(src="./assets/imgs/play.png", alt="play")
                    span Google Play
        .dl__pic 
            img.food(src="./assets/imgs/phone.png", alt="mobile")