section.first-section
    .container
        .first-section__content
            h1.first-section__title
                span Making time a good time by making food the good food.
            h2.first-section__text 
                span There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment,
            .first-section__buttons
                a(href="#").first-section__button
                        span Order Now
                a(href="#").first-section__button--inverse
                        span Food Details
        .first-section__pic 
            img(src="./assets/imgs/meat.png", alt="meat")