footer.footer
    .container
        .items 
            ul.items__contacts 
                li.logo
                    img(src="./assets/imgs/logo.png" alt="logo").logo-img 
                li.link
                    a(href="#")  www.company name.com
                li.link
                    a(href="#") companyname@gmail.com
                li.link
                    a(href="#") Phone: +7 485-118-03-25
            ul.items__home 
                li.link--inverse 
                    a(href="#") Home 
                li.link
                    a(href="#") Landingpage
                li.link
                    a(href="#") Documentation
                li.link
                    a(href="#") Referral Program
                li.link
                    a(href="#") UI & UX Design
                li.link
                    a(href="#") Web Design
            ul.items__menu 
                li.link--inverse 
                    a(href="#") Menu 
                li.link
                    a(href="#") Landingpage
                li.link
                    a(href="#") Documentation
                li.link
                    a(href="#") Referral Program
                li.link
                    a(href="#") UI & UX Design
                li.link
                    a(href="#") Web Design
            ul.items__company 
                li.link--inverse 
                    a(href="#") Company 
                li.link
                    a(href="#") Landingpage
                li.link
                    a(href="#") Documentation
                li.link
                    a(href="#") Referral Program
                li.social-links 
                    a(href="#") 
                        img(src="./assets/imgs/insta.png", alt="instagram")
                    a(href="#") 
                        img(src="./assets/imgs/fb.png", alt="facebook")
                    a(href="#") 
                        img(src="./assets/imgs/twitter.png", alt="twitter")
                    a(href="#") 
                        img(src="./assets/imgs/youtube.png", alt="youtube")


