header.header 
    .container
        .header__row
                a(href="index.html").logo
                    img(src="./assets/imgs/logo.png", alt=logo).logo__img
                .header__links
                    a(href="#").header-link.header-link--inverse Home
                    a(href="#").header-link About us
                    a(href="#").header-link Menu
                    a(href="#").header-link Features
                    a(href="#").header-link Contact us 
                a(href="#").header__button
                    span Booking Now