section.about
    .container
        .about__pic 
            img.food(src="./assets/imgs/girl.png", alt="food")
        .about__pink 
            img.pink(src="./assets/imgs/pink.svg")
        .about__content
            h3.first-title
                span about us
            h2.second-title
                span Food Stalls with Persons but  to  Product marketing plane catlogues etc to. 
            p.about__text 
                span There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also equipment  make your marketing plane Effective.
            .about__button
                a(href="#").about__button
                    span Read More