section.testimonial
    .container
        .testimonial__items
            h3.first-title testimonial
            h2.second-title Making Food great again and again
            p.first-part You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers, Effective Product catlogues etc to make your.
            .foto 
                img.foto__pic(src="./assets/imgs/augusta.png", alt="augusta")
            p.sec-part You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers, Effective Product catlogues etc very successful to make your.
            .rating
                span.star
                    img.foto__pic(src="./assets/imgs/star_orange.png", alt="")
                span.star
                    img.foto__pic(src="./assets/imgs/star_orange.png", alt="")
                span.star
                    img.foto__pic(src="./assets/imgs/star_orange.png", alt="")
                span.star
                    img.foto__pic(src="./assets/imgs/star_orange.png", alt="")
                span.star
                    img.foto__pic(src="./assets/imgs/star_grey.png", alt="")
            p.name Augusta W. Reynoso
            p.position UI&UX DeSIGNER