// переменные 
//GRID
//точки адаптива
$lg: 1310px;
$md: 1024px;
$sm: 768px;
$xs: 576px;


//Цвета макета
$c-primary: #E5E5E5;//основной цвет макета
$c-secondary: #DC780B;//дополнительный цвет макета
$c-text: #000000;//основной цвет текста макета
$c-text2: #DC780B;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Roboto', sans-serif;//основной
$headers-font: 'Philosopher', sans-serif;//для заголовков
$secondary-font: 'Roboto', sans-serif;//дополнительный
